

*{
  margin: 0;
  padding: 0;
  
}


body{
  margin: 0;
  padding: 0;
}





.no{
  text-decoration: none ;
  color: white ;
 
}

.none:hover{
   background-color: white;
   border-radius: 10px;
   color: solid black;
  }


.cap{
  text-transform: uppercase;
  font-size: 100px;

}

.enclose{
  background-color: #61dafb;
  text-align: center;
}

.cap_1{
  text-transform: uppercase;
  font-size: 140px;

}

.enclose2{
  width: 240px;
  text-align: center;
  height: 200px;
  background-color: #61dafb;
  border-radius: 5px;

}


.poststyle{
  border: 1.5px solid rgb(181, 181, 181);
  width: 450px;
  padding: 6px;
  border-radius: 6px;
  

 
}

.sidebor{
  border: 1px solid rgb(214, 213, 213);
  border-radius: 5px;
  height: 400px;
  padding-left: 15px;

}